.message-admin {
    border-radius: 15px;
    margin-left: auto;
    margin-right: 0;
    width: 48%;
    font-size: 18px;
    margin-top: 20px;
}

.img-message-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    height: 70px;
    padding-top: 23px;

}

.glyphicon-user {
    font-size: 35px;
    color: #FFFFFF;
}

.panel-body {
    height: 350px;
    overflow-y: scroll;
}

.date {
    color: #A4A4A4;
    text-align: center;
    margin-bottom: 5px;
}

.bold {
    font-weight: bold;
}

.message {
    font-size: 1.2em;
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.message-user {
    font-size: 1.2em;
    border-radius: 15px;
    padding: 10px;
    width: 30%;
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: #22D351;
    color: #FFFFFF;
}

.message-in {
    background-color: #E5E5EA;
    margin-left: 20px;

}

.message-out {
    background-color: #22D351;
    margin-right: 20px;
    color: #FFFFFF;
}

.glyphicon-send, .glyphicon-camera {
    color: #848484;
}

.radius-img {
    border-radius: 10px;
    margin-right: 8px;
}

.user-index {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;;
    margin-top: 25px;
    color: #009688;
}

.user-index-all {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #009688;
    font-size: 16px;
    background: #fff;
}

.gridView {
    background: #fff;
    border-radius: 15px;
}

.admins-reports{
    background: #fff;
    border-radius: 15px;
    font-size: 14px;
    color: #009688;
}

.attention{
    color: #009688;
}
/*
table
 */

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-radius: 15px;
    border: 1px solid #ffdb53;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    border-radius: 15px;
    border: 1px solid #ffdb53;
}

table tr {
    background: #fff;
    padding: .35em;
    border-radius: 15px;
    border: 1px solid #ffdb53;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #ffdb53;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid #ffdb53;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.admin-title {
    font-size: 18px;
    color: #009688;
}

/*li{ border:1px solid grey; padding:4px;}*/

.is-hidden{
    display: none;
}