/*
LOGIN
***************************
 */
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */
body {
    font-family: 'Open Sans', 'sans-serif';
    /*background-image: url(http://benague.ca/files/pw_pattern.png);*/
    /*background-image: url("../images/background.jpg")*/
}

.navbar {
    position: relative;
}

.top-sidebar {
    max-height: 80px;
}

.brand {
    position: absolute;
    left: 52%;
    margin-left: -200px !important; /* 50% of your logo width */
    display: block;
    margin-top: 0.8%;
}

.brand-season {
    position: absolute;
    left: 61%;
    display: block;
    margin-top: 0.8%;
}

.login_container {
    width: 30%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: justify;
    position: relative;
    left: auto;
    right: auto;
    color: #009688;
    background: #fff;
}

.flash-login {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 18px;
    margin-top: 25px;
}

.btn-success {
    position: relative;
    border-radius: 15px;
}

.line {
    border-right: 2px solid #000; /* Параметры линии */
    padding-left: 10px; /* Расстояние от линии до текста */
}

/* copyright stuffs.. */
p {
   margin-top: 20px;
}


