body {
    background-color: #FFE5B4;
}

/*
USER PAGE CSS
 */
#beauty-in-label {
    font-size: 20px;
    font-family: inherit;
}

.user_info {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    bottom: 10px;
    left: auto;
    right: auto;
    font-size: large;
}

.form-control {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*
USER PAGE POST CLASS
**************************************
*/
.obert {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    left: 15px;
    right: 15px;
}

.btn-circle {
    width: 100px;
    height: 35px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.top_header {
    margin-bottom: 8px;
    margin-top: 20px;
}

.bottom_header {
    margin-top: 15px;
    font-style: normal;
}

.media-list {
    margin-top: 15px;
    margin-left: 25px;
}

/*
USER SETTINGS
********************************************
 */
.change_photo {
    width: 30%;
    height: 275px;
    margin-top: 15px;
    font-size: 16px;
    color: #4caf50;
}

/*
FEED css
 */

.form-control {
    margin-bottom: 10px;
}

hr {
    background-color: #0e90d2;
    height: 1px;
}

/*
MESSAGE CSS
 */

.send-message {
    width: 500px;
    height: 500px;
    margin-top: 25px;
    margin-left: 125px;
    margin-right: 25px;
    color: #216eff;
}

#message-container {
    width: 100%;
    height: 100%;
}

#improving {
    width: 800px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.your_users {
    position: relative;
    display: inline-block;
    width: 225px;
    min-height: 75px;
    padding: 10px 0px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 2px;
    background: #ffffff;
    /* -webkit-box-shadow: 0 0 30px 15px rgba(255, 204, 0, 0.7); */
    /* -moz-box-shadow: 0 0 30px 15px rgba(255, 204, 0, 0.7); */
    /* box-shadow: 0 0 30px 15px rgba(255, 204, 0, 0.7); */
    transition: background 0.3s;
    -moz-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    cursor: pointer;
    box-shadow: 3.6px 4.8px 26.7px 2.3px rgba(1, 1, 1, 0.1);
    text-align: center;
    size: 25px;
}

/*
SEARCH CSS
 */

.search {
    margin-top: 15px;
    width: 350px;
    height: 300px;
    align-items: center;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

/*
NEW USER
****************************************
 */
.new_user {
    color: #000;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 15px;
}

.new_admin {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: 90px;
    top: 15px;
}

.new_main_admin {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: 90px;
    top: 15px;
}

/*
BUTTONS
**********************
 */
.btn-success {
    position: relative;
    border-radius: 15px;
}

/*
USER PAGE
**********************************
 */

.user_container {
    width: 68%;
    height: 100%;
    margin-right: 5%;
    margin-left: 26%;
    align-items: center;
    text-align: justify;
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
}

/*
ADMIN PAGE
 */
.admin_container {
    width: 69%;
    height: 100%;
    margin-right: 5%;
    margin-left: 25%;
    align-items: center;
    text-align: justify;
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
}

/*
VOTING SECOND
 */
.voting_second_container {
    width: 69%;
    /*height: 100%;*/
    margin-right: 5%;
    margin-left: 25%;
    align-items: center;
    text-align: justify;
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
}

/*
user question
**********************************
 */

.user_question_container {
    width: 69%;
    height: 100%;
    margin-right: 5%;
    margin-left: 25%;
    align-items: center;
    text-align: justify;
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
}

.faq-create {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 18px;;
    margin-top: 25px;
    color: #55acee;
}

.task-results {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 18px;;
    margin-top: 25px;
    border-radius: 10px;
    color: #444;
}

.voting {
    margin-left: auto;
    margin-right: auto;
    min-height: 290px;
    width: 70%;
    font-size: 18px;
    margin-top: 10px;
    color: #009688;
}

.voting-img-right {
    border-radius: 15px;
    margin-right: auto;
    margin-left: 0;
    left: 5px;
}

.voting-img-left {
    border-radius: 15px;
    margin-right: 0;
    margin-left: auto;
    right: 5px;
}

.site-contact {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto
}

/*
ERROR
***************************
 */

.auth_error {
    height: 100%;
    align-items: center;
    text-align: justify;
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
}

/*
ARTICLE
***************************
 */

.task_container {
    width: 69%;
    height: 100%;
    margin-right: 2%;
    margin-left: 26%;
    align-items: center;
    text-align: justify;
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
}

.task_form {
    font-size: 18px;
}

.voting_container {
    width: 69%;
    height: 100%;
    margin-right: 2%;
    margin-left: 26%;
    align-items: center;
    text-align: justify;
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    /*background-color: #fff*/
}

#title {
    /*color: #000;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: #009688;
}

.flash {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 18px;
    margin-top: 25px;
}

.footer {
    margin-right: auto;
    margin-left: auto;
    color: #000;
    background: 0;
    margin-top: 50px;
    width: 50%;
    min-height: 40px;
    border-radius: 15px;
}

.footer-admin {
    margin-right: auto;
    margin-left: 35%;
    color: #000;
    background: 0;
    margin-top: 25px;
    width: 50%;
    min-height: 40px;
    border-radius: 15px;
}

.black {
    font-size: 18px;
    color: #4caf50;
    width: 150px;
    height: 50px;
}

.bun {
    font-size: 16px;
    border-radius: 15px;
}

.margin {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 22px;
}

.video-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 0;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.voting-third {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}