/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        /*height: 95%;*/
    }

    .sidebar-nav .navbar ul {
        float: none;
        display: block;
        /*height: 95%;*/
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.user-menu {
    position: relative;
    width: 22%;
    min-width: 230px;
    height: 95%;
    margin-left: 2%;
    top: 21px;
}

#menu.default {
    color: rgb(0, 4, 68) !important;
    /*background-color: #fff;*/
    background-color: rgb(157, 34, 60);
    background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
}

#menu.fixed {
    position: fixed;
    top: 20px;
    width: 17%;
    min-width: 217px;
    height: 95%;
    background-color: rgb(157, 34, 60);
    background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
}

#menu {
    text-transform: uppercase;
    text-align: left;
    line-height: 15px;
    background: inherit;
    /*text-shadow:1px 1px 1px 1px black;*/
}

#menu ul {
    padding: 0;
    width: 50%;
    margin: 0;
}

#menu li {
    display: inline;
    list-style: none;
    margin: 5px 10px;
}

#menu li a {
    color: rgb(0, 4, 68) !important;
    padding: 5px 10px;
    /*text-decoration: none;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

#menu li a:hover {
    background-color: #ffdb53;
    width: 97%;
    /*color: #ff0;*/
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
}

.default {
    width: 100%;
}

.fixed {
    position: fixed;
    top: -5px;
    left: 6%;
    padding: 10px 0;
    -moz-box-shadow: 5px 5px 20px #333;
    -webkit-box-shadow: 5px 5px 20px #333;
    box-shadow: 5px 5px 20px #333;
    /*background-color: #fff !important;*/
    background-color: rgb(157, 34, 60);
    background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
}

.transbg {
    /*background-color: rgba(60, 130, 190, 0.7)!important;*/
    background-color: #fff !important;
}

/*
DROPDOWN MENU
 */

.list-group.panel > .list-group-item {
    color: #000;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

/*
LOGO
 */
.logo {
    margin-left: 6.1%;
    margin-top: 0.8%;
    width: auto;
    min-width: 350px;
}

.logo-text {
    color: black;
    /*font-weight: bold;*/
    font-size: 18px;
    font-family: arial, helvetica, serif;
    text-align: center;
}

.logo-right {
    color: #000;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3.7%;
    max-height: 70px;
    font-weight: bold;
    font-size: 18px;
    font-family: arial, helvetica, serif;
    text-align: center;
}

/*
ADMIN MENU
 */
.support-menu * {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.support-menu {
    margin: 20px auto;
    width: 100%;
}

.support-menu nav.vertical {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.support-menu nav.vertical > ul {
    list-style-type: none;
    text-align: left;
}

.support-menu nav.vertical > ul > li {
    display: block;
}

.support-menu nav.vertical > ul > li ul {
    display: none;
    /*text-align: left;*/
}

.support-menu nav.vertical > ul > li > a {
    background-color: rgb(157, 34, 60);
    background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 1px 1px rgba(0, 0, 0, .1);
    color: rgb(255, 255, 255);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    letter-spacing: .5rem;
    line-height: 50px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    transition: all .1s ease;
    text-decoration: none;
}

.support-menu nav.vertical > ul > li > a:hover {
    background-color: rgb(114, 51, 98);
    background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
    cursor: pointer;
}

.support-menu nav.vertical > ul > li > ul {
    background-color: rgb(255, 255, 255);
}

.support-menu nav.vertical > ul > li > ul {
    list-style-type: none;
}

.support-menu nav.vertical > ul > li > ul > li > a {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    color: #333331;
    display: block;
    font-size: 1.1rem;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.15s linear;
}

.support-menu nav.vertical > ul > li > ul > li:hover > a {
    background-color: #ffdb53;
    color: rgb(255, 255, 255);
    padding: 10px 0 10px 30px;
}

.admin-menu {
    position: relative;
    width: 15%;
    min-width: 200px;
    height: 95%;
    margin-left: 6%;
    top: 0px;
    font-size: 14px;
}

#admin-menu.default {
    color: #fff;
    background-color: #fff;
}

#admin-menu.fixed {
    position: fixed;
    top: 20px;
    background-color: inherit;
    width: 15%;
    min-width: 200px;
    height: 95%
}

.admin_default {
    width: 100%;
}

.admin_fixed {
    position: fixed;
    width: 10%;
    border-radius: 15px;
    min-width: 200px;
    top: 20px;
    left: 6%;
    padding: 10px 0;
    -moz-box-shadow: 5px 5px 20px #333;
    -webkit-box-shadow: 5px 5px 20px #333;
    box-shadow: 5px 5px 20px #333;
    background: #ffdb53 !important;
}

.admin_transbg {
    /*background-color: rgba(60, 130, 190, 0.7)!important;*/
    background-color: #fff !important;
}

.admin_font {
    font-size: 15px;
}

.admin_font_li {
    font-size: 14px;
}

.margin_li {
    margin-left: 10px;
}

.margin_ul {
    margin-left: 15px;
}

/*
notify
 */
.check {
    font-size: 16px;
}

.text-nav {
    color: #ffdb53;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 16px;
}
/*scroll to top*/
#goTop{
    background: rgba(68, 68, 68, 0.25);
    position:fixed;
    top: -100px;
    left:10px;
}