/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400); */

/*
USER PROFILE
 */
/*body{padding-top:30px;}*/

.social {
    width: 40px;
}

.user-post {
    width: 55%;
    float: right;
    margin-right: 2%;
    border-radius: 15px;
    margin-top: 15px;
}

.user-post-already {
    width: 60%;
    float: right;
    margin-right: 2%;
    border-radius: 15px;
    margin-top: 2%;
}

.text-post {
    color: #444;
}

.icons {
    width: 15px;
}

.update-post {
    max-height: 425px;
    min-height: 40%;
    border-radius: 15px;
}

.glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

/*
WALl
 */

.panel-google-plus {
    position: relative;
    border-radius: 0;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}

.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}

.panel-google-plus > .dropdown > span > span {
    font-size: 10px;
}

.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}

.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}

.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}

.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);
}

.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}

.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}

.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 5px;
}

.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
}

.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}

.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}

.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}

.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}

.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}

.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 5px;
}

.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}

.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;
}

.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}

.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}

/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}

.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}

.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}

@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }
}

.panel-google-plus .btn {
    border-radius: 3px;
}

.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}

.panel-google-plus .btn-default:hover,
.panel-google-plus .btn-default:focus,
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.post {
    width: 45%;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.post-admin {
    width: 50%;
    height: 100px;
    margin-bottom: 125px;
    margin-left: 10px;
    margin-right: 10px;
}

.news-post-admin {
    margin-top: 15px;
    border-radius: 15px;
    border: double red;
}

.news-post-user {
    margin-top: 15px;
    border-radius: 15px;
}

.newspost {
    width: 70%;
    height: 200px;
    min-height: 220px;
    position: relative;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    border-radius: 50%;
}

.post-font {
    font-size: 18px;
}

.comment-font {
    font-size: 16px;
}

.search-form {
    margin-top: 55px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
}

.border_radius {
    border-radius: 15px;
}

.border_radius_margin {
    border-radius: 15px;
    margin-top: 15px;
}

.border_admin {
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.search-form-result {
    margin-top: 25px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
}

/*
COMMENTS
 */

li.ui-state-default {
    background: #fff0;
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}

li.ui-state-default:last-child {
    border-bottom: none;
}

.well, .panel {
    border-color: #d2d2d2;
    box-shadow: 0 1px 0 #cfcfcf;
    border-radius: 3px;
}

hr {
    border-color: #ececec;
}

.list-group-item:first-child, .list-group-item:last-child {
    /*border-radius: 0;*/
}

h3 {
    border: 0 solid #efefef;
    border-bottom-width: 1px;
    padding-bottom: 10px;
}

/*
COMMENT
 */

.comment {
    width: 20%;
    height: 50px;
    min-width: 175px;
}

.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

.panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

/*
SETTINGS
 */

.myTabProfile {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: inherit;
    font-size: 16px;
}

.myTabContent {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: inherit;
    font-size: 16px;
}

.myTabImage {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: inherit;
    font-size: 16px;
}

/*
DROPDOWS
 */

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

.news {
    position: relative;
    margin: auto;
    align-items: center;
    align-content: center;
    align-self: center;
    max-height: 50px;
    font-size: 18px;
    font-family: 'Times New Roman', cursive;
}

/*
btn
 */

.radius {
    border-radius: 15px;
    font-size: 16px;
}

.radius_small {
    border-radius: 15px;
    font-size: 12px;
}

.panel-body-comment {
    overflow-y: scroll;
    margin-top: 5px;
    margin-left: 5px;
}

/*
tasks
 */
.week {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
    font-size: 20px;
    max-height: 90px;
}

.user-message-send {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    margin-top: 15px;
}

.title {
    font-size: 28px;
}

.title-align {
    font-size: 16px;
}

.voting-img-right {
    width: 48%;
    max-width: 400px;
    height: 60%;
    max-height: 275px;
    align: right;
    margin-right: 0;
    margin-left: 15px;
    border-radius: 15px;
}

.voting-img-left {
    width: 48%;
    max-width: 400px;
    height: 60%;
    max-height: 275px;
    align: right;
    margin-right: auto;
    margin-left: 0;
    border-radius: 15px;
}

.current-task {
    height: 70px;
}